<div class="container mx-auto">
  <div class="flex flex-row">
    <header class="flex-none w-1/5 bg-gray-100 px-4 py-2 m-2"> 
      <h1 class="logo">ScrapedNews</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/scrape" class="scrape">Scrape</a></li>
      </ul>
    </header>
    <div class="col1 flex-initial w-2/5 bg-gray-100 px-4 py-2 mx-5 my-2">
      <div id="articles">
        {{#each articles}}
          <article class="rounded border-1 border-green-100 bg-white mb-5 p-4">
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{blurb}}</p>
          </article>
        {{/each}}
      </div>
    </div>
    <div class="col2 flex-initial w-2/5 bg-gray-100 px-4 py-2 mx-5 my-2">col 2</div>
  </div>
</div>

<script id="article-template" type="text/x-handlebars-template">
  <article class="border-b-2 border-gray-600 bg-white mb-10 p-4">
    <h3><a href="\{{url}}">\{{title}}</a></h3>
    <p>\{{blurb}}</p>
  </article>
</script>
