
<div class="container mx-auto">
  <div class="flex flex-row">
    <section class="col2 flex-initial w-3/5 bg-gray-100 px-4 py-2 mx-5 my-2">
      <header class="col-title mb-3">
        <h2 class="text-sm uppercase"><i class="fas fa-newspaper text-blue-300"></i> Headlines</h2>
      </header>
      <div class="loader"></div>
      <div class="article-wrapper">
        <div id="articles" style="display: none;">
          {{#each articles}}
            <article class="rounded border-1 border-indigo-100 hover:border-indigo-300 focus:border-green-500 bg-white mb-5 p-4 pb-8" data-articleId="{{_id}}">
              <h3><a href="{{url}}" class="text-indigo-500 hover:text-indigo-800">{{title}}</a></h3>
              <p class="pb-3">{{blurb}}</p>
              {{#if notes.length}}
                <span class="flex float-right w-15 text-white rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold">
                  Notes: {{notes.length}}
                </span>
              {{else}}
                <span class="flex float-right rounded-full w-11 text-white bg-green-500 uppercase px-2 py-1 text-xs font-bold">
                  <i class="fas fa-plus"></i>&nbsp;&nbsp;Note
                </span>
              {{/if}}
            </article>
          {{/each}}
        </div>
      </div>
    </section>
    <section class="col3 flex-initial w-2/5 bg-gray-100 px-4 py-2 mx-5 my-2">
      <header class="col-title mb-3">
        <h2 class="text-sm uppercase"><i class="far fa-sticky-note text-blue-300"></i> Notes</h2>
      </header>
      <div class="article-notes my-3">

      </div>
      <div class="add-note" style="display:none;">
        <div class="picked-article"></div>
        <div class="note-error"></div>
        <input type="text" id="noteTitle" style="width: 100%;" class="shadow outline-none rounded border-2 border-gray-400 focus:border-orange-500 p-2 mb-3" placeholder="Title">
        <textarea name="note" id="noteBody" rows="3" style="width: 100%;" class="shadow outline-none rounded border-2 border-gray-400 focus:border-orange-500 p-2 mb-2" placeholder="Note"></textarea>
        <input type="hidden" id="articleId">
        <input type="submit" id="submit-note" value="Save Note" class="outline-none bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border-2 border-gray-400 hover:border-orange-500 rounded shadow">
      </div>
    </section>
  </div>

</div>

<script id="article-template" type="text/x-handlebars-template">
  <article class="border-b-2 border-gray-600 bg-white mb-10 p-4">
    <h3><a href="\{{url}}">\{{title}}</a></h3>
    <p>\{{blurb}}</p>
  </article>
</script>
